.poster {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 170px;
}

.typewriter-text {
    font-size: 5rem;
    color: #a9927d;
    font-weight: 700;
}
.typewriter-text .Typewriter__cursor {
    font-size: 1rem; 
    color: #22333b; 
}

.typewriter-text .Typewriter__cursor--blink {
    animation: blink 0.7s infinite;
}
.news{
    overflow-y: auto;
    margin-top: 50px;
}
.news::-webkit-scrollbar{
    height: 0;
}
.newsItem{
    min-width: 340px;
    height: 100%;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.MuiCard-root{
    height: 400px;
}
.MuiTypography-h6{
    /* background: #000; */
    height: 65px;
    overflow: hidden;
} 
.MuiTypography-body2{
    height: 80px;
} 
.MuiBadge-anchorOriginTopRight{
    margin: 10px 40px 0px 0px;
    padding: 2px;
}

.featureCards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px;
}

.linkFeature{
    text-decoration: none;
    color: #000;
}
.Home h1 {
    text-align: center;
}
.Home{
    text-align: center;
}
