
.logo {
    height: 10vh;
}

img {
    height: 100%;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-fluid {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
}
ul li{    
    margin: 0px 10px;
}

ul li a{
    text-decoration: none;
    color: #22333B;
    font-size: 1.3rem;
}