/* App.css */
.main-content {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}
.headerDiv{
    position: sticky;
    top: 0;
}
body{
  background: #c8cbcf;
}

